.quizPutTag {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 200px;
}

.div {
    font-size: 14px;
    padding: 20px 0;
}

.options {
    margin: 20px 30px;
}
.MathJax{outline:0;}