.home_icon-axp_icon1,.home_icon-axp_icon2,.home_icon-grxx_icon1,.home_icon-grxx_icon2,.home_icon-pub_icon1,.home_icon-pub_icon2,.home_icon-rwlb_icon1,.home_icon-rwlb_icon10,.home_icon-rwlb_icon11,.home_icon-rwlb_icon2,.home_icon-rwlb_icon3,.home_icon-rwlb_icon4,.home_icon-rwlb_icon5,.home_icon-rwlb_icon6,.home_icon-rwlb_icon7,.home_icon-rwlb_icon8,.home_icon-rwlb_icon9,.home_icon-xnzy_icon1,.home_icon-xnzy_icon2,.home_icon-xnzy_icon3,.home_icon-xxxx_icon1,.home_icon-xygl_icon14,.home_icon-zygl_3gp,.home_icon-zygl_asf,.home_icon-zygl_avi,.home_icon-zygl_doc,.home_icon-zygl_docx,.home_icon-zygl_gif,.home_icon-zygl_icon7,.home_icon-zygl_jpg,.home_icon-zygl_mov,.home_icon-zygl_mp3,.home_icon-zygl_mp4,.home_icon-zygl_mpeg,.home_icon-zygl_mpg,.home_icon-zygl_pdf,.home_icon-zygl_png,.home_icon-zygl_ppt,.home_icon-zygl_pptx,.home_icon-zygl_rar,.home_icon-zygl_slsx,.home_icon-zygl_swf,.home_icon-zygl_txt,.home_icon-zygl_wma,.home_icon-zygl_wmv,.home_icon-zygl_xls,.home_icon-zygl_zip,.home_icon-zyss_icon1{background-image:url("../images/home_icon.png");background-repeat:no-repeat;background-size:318px 297px;}
.home_icon-axp_icon1{width:20px;height:22px;background-position:-75px -227px;}
.home_icon-axp_icon2{width:20px;height:20px;background-position:-142px -227px;}
.home_icon-grxx_icon1{width:11px;height:6px;background-position:-92px -261px;}
.home_icon-grxx_icon2{width:11px;height:6px;background-position:-105px -261px;}
.home_icon-pub_icon1{width:21px;height:21px;background-position:-119px -227px;}
.home_icon-pub_icon2{width:12px;height:11px;background-position:-78px -261px;display: inline-block;}
.home_icon-rwlb_icon1{width:18px;height:4px;background-position:-75px -251px;}
.home_icon-rwlb_icon10{width:20px;height:20px;background-position:-164px -227px;}
.home_icon-rwlb_icon11{width:20px;height:20px;background-position:-186px -227px;}
.home_icon-rwlb_icon2{width:18px;height:4px;background-position:-95px -251px;}
.home_icon-rwlb_icon3{width:16px;height:16px;background-position:-0px -281px;}
.home_icon-rwlb_icon4{width:20px;height:20px;background-position:-208px -227px;}
.home_icon-rwlb_icon5{width:20px;height:20px;background-position:-230px -227px;}
.home_icon-rwlb_icon6{width:20px;height:22px;background-position:-97px -227px;}
.home_icon-rwlb_icon7{width:20px;height:20px;background-position:-252px -227px;}
.home_icon-rwlb_icon8{width:20px;height:20px;background-position:-274px -227px;}
.home_icon-rwlb_icon9{width:20px;height:20px;background-position:-296px -227px;}
.home_icon-xnzy_icon1{width:23px;height:32px;background-position:-0px -227px;}
.home_icon-xnzy_icon2{width:23px;height:32px;background-position:-25px -227px;}
.home_icon-xnzy_icon3{width:23px;height:32px;background-position:-50px -227px;}
.home_icon-xxxx_icon1{width:18px;height:18px;background-position:-0px -261px;}
.home_icon-xxxx_icon1{width:18px;height:18px;background-position:-20px -261px;}
.home_icon-xygl_icon14{width:16px;height:18px;background-position:-40px -261px;}
.home_icon-zygl_3gp{width:62px;height:43px;background-position:-128px -46px;}
.home_icon-zygl_asf{width:62px;height:43px;background-position:-0px -92px;}
.home_icon-zygl_avi{width:62px;height:43px;background-position:-64px -92px;}
.home_icon-zygl_doc{width:62px;height:43px;background-position:-128px -92px;}
.home_icon-zygl_docx{width:62px;height:43px;background-position:-0px -137px;}
.home_icon-zygl_gif{width:62px;height:44px;background-position:-0px -0px;}
.home_icon-zygl_icon7{width:62px;height:43px;background-position:-64px -137px;}
.home_icon-zygl_jpg{width:62px;height:44px;background-position:-64px -0px;}
.home_icon-zygl_mov{width:62px;height:43px;background-position:-128px -137px;}
.home_icon-zygl_mp3{width:62px;height:43px;background-position:-192px -0px;}
.home_icon-zygl_mp4{width:62px;height:43px;background-position:-192px -45px;}
.home_icon-zygl_mpeg{width:62px;height:43px;background-position:-192px -90px;}
.home_icon-zygl_mpg{width:62px;height:43px;background-position:-192px -135px;}
.home_icon-zygl_pdf{width:62px;height:43px;background-position:-0px -182px;}
.home_icon-zygl_png{width:62px;height:44px;background-position:-0px -46px;}
.home_icon-zygl_ppt{width:62px;height:44px;background-position:-64px -46px;}
.home_icon-zygl_pptx{width:62px;height:44px;background-position:-128px -0px;}
.home_icon-zygl_rar{width:62px;height:43px;background-position:-64px -182px;}
.home_icon-zygl_slsx{width:62px;height:43px;background-position:-128px -182px;}
.home_icon-zygl_swf{width:62px;height:43px;background-position:-192px -182px;}
.home_icon-zygl_txt{width:62px;height:43px;background-position:-256px -0px;}
.home_icon-zygl_wma{width:62px;height:43px;background-position:-256px -45px;}
.home_icon-zygl_wmv{width:62px;height:43px;background-position:-256px -90px;}
.home_icon-zygl_xls{width:62px;height:43px;background-position:-256px -135px;}
.home_icon-zygl_zip{width:62px;height:43px;background-position:-256px -180px;}
.home_icon-zyss_icon1{width:18px;height:14px;background-position:-58px -261px;}
